{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Password Reset
{% endblock head_title %}

{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-10">
        <div class="row justify-content-center align-items center">
            <div class="col-md-4">
                <img src="{% static 'img/kontak girl.png' %}" class="mx-auto d-block img-fluid w-100" 
                srcset="">
            </div>
            <div class="col-md-4 mt-5 pt-5">
                <h4 class="text-text-black-50">Reset Password</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="email" name="email" id="email" class="form-control">
                        <div id="emailhelp" class="form-text">Masukkan alamat email anda.</div>
                    </div>
                    <button class="btn btn-primary shadow-sm text-white">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
