{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Password Change 
{% endblock head_title %}

{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-10">
        <div class="row justify-content-center align-items center">
            <div class="col-md-4">
                <img src="{% static 'img/kontak girl.png' %}" class="mx-auto d-block img-fluid w-100" 
                srcset="">
            </div>
            <div class="col-md-4 mt-5 pt-5">
                <h4 class="text-text-black-50">Ubah Password</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password">
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">new Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1">
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">konfirmasi new Password</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2">
                    </div>
                    <button class="btn btn-primary shadow-sm text-white">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
